{% extends "index.html" %}
{% block content %}
        <body>
            <div class="col-xl-4 p-xl-10 pt-xl-3 offset-md-4" width= "100%">
                <h1>Create Account</h1>
                <br>
                <div class="m-1"><a href="{{ url_for('accounts.create_account_students') }}"><button type="button" class="btn btn-success">Student</button></a></div>
                <div class="m-1"><a href="{{ url_for('accounts.create_account_tutors') }}"><button type="button" class="btn btn-success">Tutor</button></a></div>
            </div>
        </body>
{% endblock %}