{% extends "welcome_page.html" %}
{% block content %}
<div class="container text-start">
    {% if current_user.account_type == 'Admin' %}

        <h3 class="m-3" style="text-align: center;">Archived Comments</h3>
        {% for comment in comments %}
            <div class="row justify-content-center mb-3">
            <div class="col-8 comment-box">
                <p class="m-2 mt-3">{{ comment.c_email }} - {{ comment.timestamp }}<br></p>
                <h3 class="m-1 mx-2">{{ comment.title }}</h3>
                <p class="m-2 mb-3">{{ comment.comment }}</p>
            </div>
            </div>
        {% endfor %}

        <h3 class="m-3" style="text-align: center;">Archived Replies</h3>
        {% for reply in replies %}
            <div class="row justify-content-center mb-3">
            <div class="col-8 comment-box">
                <p class="m-2 mt-3">{{ reply.r_email }} - {{ reply.timestamp }}<br></p>
                <p class="m-2 mb-3">{{ reply.reply }}</p>
            </div>
            </div>
        {% endfor %}

    {% else %}
        <meta http-equiv="refresh" content="0; url='/forum'" />
    {% endif %}
{% endblock %}