{% extends "welcome_page.html" %}
{% block content %}
<div class="container text-start">
    {% if current_user.account_type == 'Student' or current_user.account_type == 'Admin' %}
    {% for comment in comments %}
        <div class="row justify-content-center">
        <div class="col-10 comment-box mt-4">
            <p class="m-2 mt-3">{{ comment.c_username }} -
            {% set time_since = now - comment.timestamp %}
            {% if time_since.days >= 730 %}
                {% set years_since = time_since.days // 365 %}
                Posted {{ years_since }} years ago
            {% elif time_since.days >= 365 %}
                Posted 1 year ago
            {% elif time_since.days > 1 %}
                Posted {{ time_since.days }} days ago
            {% elif time_since.days == 1 %}
                Posted 1 day ago
            {% elif time_since.seconds >= 7200 %}
                {% set hours_since = time_since.seconds // 3600 %}
                Posted {{ hours_since }} hours ago
            {% elif time_since.seconds >= 3600 %}
                Posted 1 hour ago
            {% elif time_since.seconds >= 120 %}
                {% set minutes_since = time_since.seconds // 60 %}
                Posted {{ minutes_since }} minutes ago
            {% elif time_since.seconds >= 60 %}
                Posted 1 minute ago
            {% else %}
                Posted just now
            {% endif %}
            {% if comment.c_admin %}
                - ⭐ Admin
            {% else %}
            {% endif %}
            <br>
            </p>
            <h3 class="m-1 mx-2">{{ comment.title }}</h3>
            <p class="m-2">{{ comment.comment }}</p>
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="col-1">
                        <form method="POST">
                            <input type="hidden" name="rep_id" value="{{ comment.id }}">
                            <button name="reply" type="submit" class="mb-3" style="background-color: #bcbcbc; border-radius: 4px; border-style: none; font-family: 'Roboto Slab', serif;">Reply</button>
                        </form>
                    </div>
                    <div class='col-1'>
                        {% if current_user.username == comment.c_username or current_user.account_type == 'Admin' %}
                            <form method="POST">
                                <input type="hidden" name="del_id" value="{{ comment.id }}">
                                <button name="delete" type="submit" class="mb-3" style="background-color: #bcbcbc; border-radius: 4px; border-style: none; font-family: 'Roboto Slab', serif;">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% if rep_id == comment.id %}
            <div class="container text-start">
                <div class="row justify-content-center">
                    <div class="col-8 comment-box mt-4">
                        <p class="m-2 mt-3">{{ current_user.username }}</p>
                        <form method="POST">
                            <input type="hidden" name="rep_id" value="{{ comment.id }}">
                            <p><textarea class="m-2 mb-0" width="max-width" placeholder="Add a reply" type="text" name="reply" style="border-width: 0px; border-color: white; width: 98.5%"></textarea></p>
                            <button name="add_reply" type="submit" class="mb-3 ms-3" style="background-color: #bcbcbc; border-radius: 4px; border-style: none; font-family: 'Roboto Slab', serif;">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if replies %}
        {% for reply in replies %}
            {% if reply.r_comment == comment.id %}
            <div class="row justify-content-center">
            <div class="col-8 comment-box mt-4">
                <p class="m-2 mt-3">{{ reply.r_username }} -
                {% set time_since = now - reply.timestamp %}
                {% if time_since.days >= 730 %}
                    {% set years_since = time_since.days // 365 %}
                    Replied {{ years_since }} years ago
                {% elif time_since.days >= 365 %}
                    Replied 1 year ago
                {% elif time_since.days > 1 %}
                    Replied {{ time_since.days }} days ago
                {% elif time_since.days == 1 %}
                    Replied 1 day ago
                {% elif time_since.seconds >= 7200 %}
                    {% set hours_since = time_since.seconds // 3600 %}
                    Replied {{ hours_since }} hours ago
                {% elif time_since.seconds >= 3600 %}
                    Replied 1 hour ago
                {% elif time_since.seconds >= 120 %}
                    {% set minutes_since = time_since.seconds // 60 %}
                    Replied {{ minutes_since }} minutes ago
                {% elif time_since.seconds >= 60 %}
                    Replied 1 minute ago
                {% else %}
                    Replied just now
                {% endif %}
                {% if reply.r_admin %}
                - ⭐ Admin
                {% endif %}
                <br>
                </p>
                <p class="m-2 mb-3">{{ reply.reply }}</p>
                {% if current_user.username == reply.r_username or current_user.account_type == 'Admin' %}
                    <form method="POST">
                        <input type="hidden" name="del_id" value="{{ reply.id }}">
                        <button name="del_rep" type="submit" class="mb-3 ms-3" style="background-color: #bcbcbc; border-radius: 4px; border-style: none; font-family: 'Roboto Slab', serif;">Delete</button>
                    </form>
                {% endif %}
            </div>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% if rep_id == 0 %}
<div class="container text-start">
    <div class="row justify-content-center">
        <div class="col-10 comment-box mt-4">
            <p class="m-2 mt-3">{{ current_user.username }}</p>
            <form method="POST">
                <h3><input class="m-1 mx-2" style="border-width: 0px;" placeholder="Add a title" type="text" name="title"></h3>
                <p><textarea class="m-2 mb-0" width="max-width" placeholder="Add a comment" type="text" name="comment" style="border-width: 0px; border-color: white; width: 98.5%"></textarea></p>
                <button name="add_comment" type="submit" class="mb-3 ms-3" style="background-color: #bcbcbc; border-radius: 4px; border-style: none; font-family: 'Roboto Slab', serif;">Post</button>
            </form>
        </div>
    </div>
</div>
<div class='m-3'></div>
{% endif %}
{% else %}
    <meta http-equiv="refresh" content="0; url='/'" />
{% endif %}
{% endblock %}