{% extends "welcome_page.html" %}

{% block content %}
    <div class="container pt-4">
      <div class="row align-items-start">
        <div class="col">
	    <a href="#">
	    <div class="card" style="width: max-width;">
  	  	<img src="/static/images/construction.png" class="card-img-top" alt="Project">
  		<div class="card-body">
    		    <h5 class="card-title">Coming Soon!</h5>
    		    <p class="card-text">There's nothing here at the moment, but a great project will be here soon!</p>
  		</div>
	    </div>
	    </a>
	</div>
	<div class="col">
	    <a href="#">
	    <div class="card" style="width: max-width;">
  	  	<img src="/static/images/construction.png" class="card-img-top" alt="Project">
  		<div class="card-body">
    		    <h5 class="card-title">Coming Soon!</h5>
    		    <p class="card-text">There's nothing here at the moment, but a great project will be here soon!</p>
  		</div>
	    </div>
	    </a>
	</div>
	<div class="col">
	    <a href="#">
	    <div class="card" style="width: max-width;">
  	  	<img src="/static/images/construction.png" class="card-img-top" alt="Project">
  		<div class="card-body">
    		    <h5 class="card-title">Coming Soon!</h5>
    		    <p class="card-text">There's nothing here at the moment, but a great project will be here soon!</p>
  		</div>
	    </div>
	    </a>
	</div>
       </div>
 	<div class="row align-items-start py-4">
        <div class="col">
	    <a href="#">
	    <div class="card" style="width: max-width;">
  	  	<img src="/static/images/construction.png" class="card-img-top" alt="Project">
  		<div class="card-body">
    		    <h5 class="card-title">Coming Soon!</h5>
    		    <p class="card-text">There's nothing here at the moment, but a great project will be here soon!</p>
  		</div>
	    </div>
	    </a>
	</div>
	<div class="col">
	    <a href="#">
	    <div class="card" style="width: max-width;">
  	  	<img src="/static/images/construction.png" class="card-img-top" alt="Project">
  		<div class="card-body">
    		    <h5 class="card-title">Coming Soon!</h5>
    		    <p class="card-text">There's nothing here at the moment, but a great project will be here soon!</p>
  		</div>
	    </div>
	    </a>
	</div>
	<div class="col">
	    <a href="#">
	    <div class="card" style="width: max-width;">
  	  	<img src="/static/images/construction.png" class="card-img-top" alt="Project">
  		<div class="card-body">
    		    <h5 class="card-title">Coming Soon!</h5>
    		    <p class="card-text">There's nothing here at the moment, but a great project will be here soon!</p>
  		</div>
	    </div>
	    </a>
	</div>
       </div>
    </div>
{% endblock %}