{% extends "welcome_page.html" %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center" style="font-family: 'Roboto slab', serif;">
            <div class="col-6 mt-4">
                <h4>What is Project Glex?</h4>
                <p>Food deserts are regions that have little access to a nearby sources of food. This is a problem in low-income areas, where access to the time or transportation necessary to make a long trip to a grocery store
                may be severely limited. Project Glex is a solution for organizations to map possible food deserts within a specified zip code. Each grocery store is represented on the map as a circle with a radius of half a
                mile, allowing organizations like charities and municipalities to pinpoint where to direct aid. We hope this project can be used as another tool in the arsenal of charities to provide aid to our communities and
                build up poor areas.</p>
                <h4>How did we make Project Glex?</h4>
                <p>Project Glex uses Folium, a flexible Python mapping library, to plot, and a Google API to locate stores. We also use several other smaller libraries to make everything work smoothly and intuitively.</p>
                <h4>Who made Project Glex?</h4>
                <p>Project Glex was created by Sam Fishburn and Paul Boucher. If you have any questions or suggestions, feel free to email Sam at sjfishburn@students.wcpss.net. We're thinking of expanding the project's
                scope to include data like heat islands and average income, so we would love to hear your feedback!</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 m-4">
                <form class="d-flex" method="POST" action="{{ url_for('glex') }}">
                    <input class="form-control me-2" placeholder="Zip Code" type="search" name="zipcode" style="border-radius:30px;">
                    <button class="btn btn-outline-success" type="submit" style="border-radius:30px;">Enter</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="d-flex" style="border-radius: 30px; height: 550px; overflow: hidden; zoom: 120%">
                    {% if inp_zip %}
                    {{ iframe|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}