{% extends "welcome_page.html" %}
{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center" style="font-family: 'Roboto slab', serif;">
            <div class="col-6 mt-4">
                <h4>Have a CSFox account?</h4>
                <p>We're currently working on functionality for our accounts, but you can still log in with them. Our login system was set up by Sam Fishburn.
                If you have any questions or comments, feel free to email him at sjfishburn@students.wcpss.net.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <form method="POST" action="{{ url_for('login') }}">
                    <input class="form-control mb-2" placeholder="Username" type="text" name="username" style="border-radius:30px;">
                    <input class="form-control mb-2" placeholder="Password" type="password" name="password" style="border-radius:30px;">
                    <button class="btn btn-outline-success" type="submit" style="border-radius:30px;">Enter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}