{% extends "index.html" %}
{% block content %}
        <body>
            <div class="col-xl-4 p-xl-10 pt-xl-3 offset-md-4" width= "100%">
                <h1>Peer Tutoring App</h1>
                <small>This application is designed to assist in matching peer tutors with students. Please input your name, subject, and WCPSS email.</small>
                <br>
                <br>
                <form style="font-family: 'Roboto slab', serif;" action="{{ url_for('student_sign_up.student_sign_up') }}" method="POST">
                    <div class="form-group">
                        <label for="students">First name:</label>
                        <input class="form-control me-2" id="fn" name="fn" placeholder="First name" style="border-radius:30px;">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="students">Last name:</label>
                        <input class="form-control me-2" id="ln" name="ln" placeholder="Last name" style="border-radius:30px;">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="subject">Choose a Subject:</label>
                        <select name="subject" id="subject" class="form-control me-2" style="border-radius:30px;">
                            {% for subject in subjects %}
                                    <option value="{{ subject }}">{{ subject }}</option>
                            {% endfor %}
                            </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">Student WCPSS Email:</label>
                        <input class="form-control" id="email" name="email" type="email" placeholder="abc@students.wcpss.net" min=1 style="border-radius:30px;">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-success" style="border-radius:30px;">Submit</button>
                    <br><br>

                </form>
            </div>
        </body>
{% endblock %}